<div class="section profile__section profile__section--about theme__{{themeName}}">
  <nav class="section about__navigation">
    <div *ngFor="let section of abouts"  class="about__item about__{{section.class}}">
      <button name="about content toggle" class="btn--about-toggle toggle__{{section.class}}" (click)="aboutToggle(section)"><span class="btn--about-toggle-text">{{section.name}}</span></button>
    </div>
  </nav>
  <app-skills *ngIf="sectionName === 'skills'"></app-skills>
  <div class="section education__list" *ngIf="sectionName === 'education'">
    <div class="education__items">
      <div *ngFor="let education of educations" class="list-section education__item">
        <div class="education__content-wrapper">
          <h6 class="education__title  text--dark bg--light">{{education.level}}</h6>
          <div class="education__content">
            <div class="education__value" *ngFor="let subject of education.subjects">
              <div class="education__name">{{subject.name}}</div>
              <div class="education__grade">{{subject.grade}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section experience__list" *ngIf="sectionName === 'experience'">
    <div class="experience__items">
      <div *ngFor="let experience of experiences" class="sub-section experience__item">
        <div class="experience__content-wrapper">
          <h3 class="experience__title">{{experience.level}}</h3>
          <div class="experience__content">
            <div class="list-section experience__value experience__{{detail.class}}" *ngFor="let detail of experience.details">
              <div class="experience__titles text--dark bg--light">
                <div class="titles__content">
                  <div class="titles__top">
                    <h6 class="experience__name">{{detail.name}}</h6>
                    <h6 class="experience__role">{{detail.role}}</h6>
                  </div>
                  <div class="titles__bottom">
                    <div class="experience__dates">{{detail.start}} - {{detail.end}}</div>
                    <div class="experience__location">{{detail.location}}</div>
                  </div>
                </div>
                <div class="titles__logo"></div>
              </div>
              <div class="experience__about">
                <p>{{detail.first}}</p>
                <p>{{detail.second}}</p>
                <p>{{detail.third}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section__general" *ngIf="sectionName === 'general'">
    <div class="inner-section general__content">
      <div class="general__content--slider">
        <div class="carousel__wrapper">
          <owl-carousel [options]="carouselOptions" [items]="carousels" [carouselClasses]="['owl-theme', 'row']">
            <div class="item" *ngFor="let slide of carousels;let i= index">
              <img class="slide-image" src="/assets/img/josh/{{slide.src}}.png">
            </div>
          </owl-carousel>      
        </div>
      </div>
      <div class="general__content--info">
        <div class="general-info bg--light text--dark" *ngFor="let josh of joshs">
          <div class="general-info__wrapper josh__name"><div class="general-info__label text--alt">Name:</div><h1 class="general-info__value">{{josh.forename}} {{josh.surname}}</h1></div>
          <div class="general-info__wrapper josh__area"><div class="general-info__label text--alt">Area:</div><h4 class="general-info__value">{{josh.area}}</h4></div>
          <div class="general-info__wrapper josh__gender"><div class="general-info__label text--alt">Gender:</div><h6 class="general-info__value">{{josh.gender}}</h6></div>
          <div class="general-info__wrapper josh__dob"><div class="general-info__label text--alt">DOB:</div><h6 class="general-info__value">{{josh.dob}}</h6></div>
          <div class="general-info__wrapper josh__location"><div class="general-info__label text--alt">Location:</div><h6 class="general-info__value">{{josh.location}}</h6></div>
          <div class="general-info__wrapper josh__cv"><div class="general-info__action text--light"><a title="CV link" class="general-info__cv bg--dark" href="{{josh.cv}}">My CV</a></div></div>
        </div>
      </div>
    </div>
  </div>
</div>