@import "../variables.scss";

.profile__section--about {

    .about__navigation {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;

      .about__item {
        min-width: 140px;
        width: 100%;

        .btn--about-toggle {
          display: block;
          width: calc(100% - 1rem);
          margin: 0.5rem;
          padding: 0.5rem 0;
          border-radius: 5px;
          font-size: $font-size__large;
          overflow: hidden;

          .btn--about-toggle-text {
            display: block;
            position: relative;

            &::after {
              content: '';
              height: 300%;
              width: 25%;
              position: absolute;
              top: -100%;
              left: -50%;
              opacity: 0.3;
              transform: skew(41deg);
            }
          }

          &:hover {
            .btn--about-toggle-text {
              text-decoration: none;

              &::after {
                left: 150%;
                transition: left 0.8s;
              }
            }
          }
        }
      }
    }

  // General

  .section__general {

    .general__content {
      display: flex;
      flex-flow: column;

      .general__content--slider,
      .general__content--info {
        flex: 1 0 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
      }

      .general__content--slider {
        .carousel__wrapper {
          max-width: 475px;
          width: 100%;
        }
      }

      .general__content--info {

        .general-info {
          display: flex;
          width: 100%;
          max-width: 475px;
          height: 100%;
          flex-flow: column;
          justify-content: center;
          padding: 1rem;
        }

        .general-info__wrapper {
          padding: 0.1rem 0;
          width: 100%;
          min-width: 325px;

          &.josh__name,
          &.josh__area {
            padding: 0.5rem 0;
          }

          .general-info__label {
            display: none;
          }
        }

        .josh__cv {
          display: flex;
          flex-flow: row;
          justify-content: center;
        }

        .general-info__action {
          display: block;
          margin-top: 0.5rem;
          overflow: hidden;
          flex: 1;
          text-align: center;

          &:hover {
            .general-info__cv {
              text-decoration: none;
              
              &::after {
                left: 150%;
                transition: left 0.8s;
              }
            }
          }
        }

        .general-info__cv {
          display: block;
          position: relative;
          padding: 0.5rem 3rem;

          &::after {
            content: '';
            height: 300%;
            width: 25%;
            position: absolute;
            top: -100%;
            left: -50%;
            opacity: 0.3;
            transform: skew(41deg);
          }
        }
      }
    }
  }

  // Education
  .education__list {
    .education__items {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;

      .education__item {
        flex: 1 0 275px;
        padding: 0.5rem 0.5rem 1rem;
      }
    }

    .education__title {
      padding: 1rem 1rem 0.5rem;
    }

    .education__value {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      .education__name,
      .education__grade {
        padding: 0 1rem;
      }
    }
  }

  // Experience
  .experience__content {
    .experience__sap-construction {
      .titles__logo {
        background-image: url('/assets/img/icons/experience/sap.png');
      }
    }
    .experience__zoocha-ltd {
      .titles__logo {
        background-image: url('/assets/img/icons/experience/zoocha.png');
      }
    }
    .experience__pattonair-ltd {
      .titles__logo {
        background-image: url('/assets/img/icons/experience/pattonair.png');
      }
    }

    .experience__titles {
      padding: 1rem;
      display: flex;
      flex-flow: column-reverse;
      justify-content: space-between;

      .titles__content {
        flex: 1;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
      }

      .titles__logo {
        flex: 0 1 125px;
        background-repeat: no-repeat;
        background-size: 200px auto;
        background-position: center top; 
      }

      .titles__top,
      .titles__bottom {
        display: flex;
        flex: 1;
        flex-flow: row wrap;
      }

      .experience__role,
      .experience__name,
      .experience__dates,
      .experience__location {
        padding: 0;
        width: 215px;
      }
    }

    .experience__info {
      padding: 0.5rem 0;
    }

    .experience__about {
      padding: 1rem;
    }
  }
}

@include breakpoint(mob-plus-min) {
  .profile__section--about {
    .about__navigation {
      .about__item {
        width: calc(100% / 2);
      }
    }

    .experience__content {
      .experience__titles {
        flex-flow: row;
        .titles__logo {
          flex: 0 1 175px;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: right center; 
        }
      }
    }
  }
}

@include breakpoint(tab-min) {
  .profile__section--about {
    .about__navigation {
      .about__item {
        width: calc(100% / 4);
      }
    }

    .section__general {
      .general__content {
        flex-flow: row;

        .general__content--slider,
        .general__content--info {
          align-items: center;
        }

        .general__content--slider {
          justify-content: flex-end;
        }

        .general__content--info {
          justify-content: flex-start;

          .general-info {
            padding: 0;
          }

          .general-info__wrapper {
            padding: 0.1rem 1rem;

            &.josh__name {
              padding: 1rem;
            }

            &.josh__area {
              padding: 0.5rem 1rem;
            }

            .general-info__label {
              display: block;
            }

            .general-info__label,
            .general-info__value {
              padding: 0 0.5rem;
            }
          }
        }
      }
    }
  }
}

// themes
.profile__section--about {
  &.theme__midnight {
    background-color: transparent;
    a {
      color: $midnight__text--dark;
    }
    .btn--about-toggle {
      background-color: $midnight__bg--light;
      color: $midnight__text--dark;
      
      .btn--about-toggle-text::after {
        background-color: $midnight__bg--dark;
      }
    }
    .section__general {
      .general-info {
        .general-info__cv::after {
          background-color: $midnight__bg--light;
        }
      }
    }
  }
  &.theme__sunset {
    a {
      color: $sunset__text--dark;
    }
    .btn--about-toggle {
      background-color: $sunset__bg--dark;
      color: $sunset__text--light;
      
      .btn--about-toggle-text::after {
        background-color: $sunset__bg--light;
      }
    }
    .section__general {
      .general-info {
        .general-info__cv::after {
          background-color: $sunset__bg--light;
        }
      }
    }
  }
  &.theme__chic {
    a {
      color: $chic__text--dark;
    }
    .btn--about-toggle {
      background-color: $chic__bg--dark;
      color: $chic__text--light;
      
      .btn--about-toggle-text::after {
        background-color: $chic__bg--light;
      }
    }
    .section__general {
      .general-info {
        .general-info__cv::after {
          background-color: $chic__bg--light;
        }
      }
    }
  }
  &.theme__forest {
    a {
      color: $forest__text--dark;
    }
    .btn--about-toggle {
      background-color: $forest__bg--dark;
      color: $forest__text--light;
      
      .btn--about-toggle-text::after {
        background-color: $forest__bg--light;
      }
    }
    .section__general {
      .general-info {
        .general-info__cv::after {
          background-color: $forest__bg--light;
        }
      }
    }
  }
  &.theme__plain {
    a {
      color: $plain__text--dark;
    }
    .btn--about-toggle {
      background-color: $plain__bg--dark;
      color: $plain__text--light;
      
      .btn--about-toggle-text::after {
        background-color: $plain__bg--light;
      }
    }
    .section__general {
      .general-info {
        .general-info__cv::after {
          background-color: $plain__bg--light;
        }
      }
    }
  }
}
