<nav class="nav nav__themes theme__{{themeName}}">
  <button name="theme area toggle" class="themes__toggle theme__{{themeClass}}" (click)="toggleCollapse()" [ngClass]="{'closed': isCollapsed, 'open': !isCollapsed}"></button>
  <ul class="themes__items" *ngIf="!isCollapsed">
    <li class="themes__item themes__item--{{theme.class}}" *ngFor="let theme of themes">
      <button name="change theme {{theme.class}}" class="themes__link themes__link--{{theme.class}}" role="button" (click)="themeClick(theme)"></button>
    </li>
  </ul>
</nav>
