@import "../variables.scss";

.nav__themes {
  width: 100%;
  background-color: $grey-light;
  padding: 0.5rem 1rem;
  display: flex;
  flex-flow: row-reverse nowrap;

  &.theme__midnight {
    background-color: rgba($midnight__bg--light, 0.5);
    z-index: 1;
    position: relative;
    
    .themes__toggle {
      background-image: url("/assets/img/icons/menu__midnight.svg");
      background-color: $midnight__bg--main;
      
      &.open {
        background-image: url("/assets/img/icons/close__midnight.svg");
      }
    }
  }
  &.theme__sunset {
    background-color: $sunset__bg--light;
    .themes__toggle {
      background-image: url("/assets/img/icons/menu__sunset.svg");
      background-color: $sunset__bg--main;
      
      &.open {
        background-image: url("/assets/img/icons/close__sunset.svg");
      }
    }
  }
  &.theme__chic {
    background-color: $chic__bg--light;
    .themes__toggle {
      background-image: url("/assets/img/icons/menu__chic.svg");
      background-color: $chic__bg--main;
      
      &.open {
        background-image: url("/assets/img/icons/close__chic.svg");
      }
    }
  }
  &.theme__forest {
    background-color: $forest__dark--second;
    .themes__toggle {
      background-image: url("/assets/img/icons/menu__forest.svg");
      background-color: $forest__bg--main;
      
      &.open {
        background-image: url("/assets/img/icons/close__forest.svg");
      }
    }
  }
  &.theme__plain {
    background-color: $plain__bg--dark;
    .themes__toggle {
      background-image: url("/assets/img/icons/menu__plain.svg");
      background-color: $plain__bg--main;
      
      &.open {
        background-image: url("/assets/img/icons/close__plain.svg");
      }
    }
  }

  .themes__toggle {
    padding: 1rem;
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    border-color: $white;
    border-radius: 0.5rem;

    &:focus,
    &:hover,
    &:active {
    outline: none;
    }
  }

  .themes__items {
    max-width: 100%;
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;

    .themes__item {
      text-align: center;
      width: 50px;

      .themes__link {
        margin: 0;
        font-weight: bold;
        display: block;
        padding: 1rem;
        text-decoration: none;
        color: $grey-dark;
        position: relative;
        overflow: hidden;
        transition: background-color 0.8s, color 0.8s;
        box-shadow: 2px 2px 2px rgba($grey-dark, 0.5);
        border: none;
        border-radius: 0.5rem;
        width: calc(100% - 2rem);


        &::before,
        &::after {
          content: '';
          height: 100%;
          padding-right: 0.5rem;
          position: absolute;
          right: 25px;
          top: 0;
          transform: skew(30deg);
          transition: background-color 0.8s;
        }

        &:after {
          right: 0;
        }

        &:hover,
        &:focus,
        &:active {
          outline: none;
          transition: background-color 0.8s, color 0.8s;

          &::before,
          &::after {
            transition: background-color 0.8s;
          }
        }
      }

      .themes__link--midnight {
        background-color: $midnight__bg--dark;
        color: $midnight__text--light;

        &::before,
        &::after {
          background-color: $midnight__text--light;;
        }

        &:hover,
        &:focus,
        &:active {
          background-color: $midnight__bg--light;
          color: $midnight__text--dark;

          &::before,
          &::after {
            background-color: $midnight__text--dark;
          }
        }
      }

      .themes__link--sunset {
        background-color: $sunset__bg--dark;
        color: $sunset__text--light;

        &::before,
        &::after {
          background-color: $sunset__text--light;;
        }

        &:hover,
        &:focus,
        &:active {
          background-color: $sunset__bg--light;
          color: $sunset__text--dark;

          &::before,
          &::after {
            background-color: $sunset__text--dark;
          }
        }
      }

      .themes__link--chic {
        background-color: $chic__bg--dark;
        color: $chic__text--light;

        &::before,
        &::after {
          background-color: $chic__text--light;;
        }

        &:hover,
        &:focus,
        &:active {
          background-color: $chic__bg--light;
          color: $chic__text--dark;

          &::before,
          &::after {
            background-color: $chic__text--dark;
          }
        }
      }

      .themes__link--forest {
        background-color: $forest__bg--dark;
        color: $forest__text--light;

        &::before,
        &::after {
          background-color: $forest__text--light;;
        }

        &:hover,
        &:focus,
        &:active {
          background-color: $forest__bg--light;
          color: $forest__text--dark;

          &::before,
          &::after {
            background-color: $forest__text--dark;
          }
        }
      }

      .themes__link--plain {
        background-color: $plain__bg--dark;
        color: $plain__text--light;

        &::before,
        &::after {
          background-color: $plain__text--light;;
        }

        &:hover,
        &:focus,
        &:active {
          background-color: $plain__bg--light;
          color: $plain__text--dark;

          &::before,
          &::after {
            background-color: $plain__text--dark;
          }
        }
      }
    }
  }
}

