@import "../variables.scss";


.profile__section--contact {
  .contact__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    .contact__details {
      padding: 1rem;
      flex: 1 0 180px;

      .details__wrapper {
        padding: 1rem;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .details__top,
        .details__content {
          width: 100%;
        }

        .details__content {
          margin-top: 0.5rem;
        }

        .details__action {
          display: block;
          margin-top: 0.5rem;
          overflow: hidden;

          &:hover {
            .details__link {
              text-decoration: none;

              &::after {
                left: 150%;
                transition: left 0.8s;
              }
            }
          }
        }

        .details__link {
          display: block;
          position: relative;
          padding: 0.5rem 1rem;

          &::after {
            content: '';
            height: 300%;
            width: 25%;
            position: absolute;
            top: -100%;
            left: -50%;
            opacity: 0.3;
            transform: skew(41deg);
          }
        }
      }
    }
  }
   &.theme__midnight {
    .details__link::after {
      background-color: $midnight__bg--light;
    }
  }

  &.theme__sunset {
    .details__link::after {
      background-color: $sunset__bg--light;
    }
  }
  &.theme__chic {
          
    .details__link::after {
      background-color: $chic__bg--light;
    }
  }
  &.theme__forest {
          
    .details__link::after {
      background-color: $forest__bg--light;
    }
  }
  &.theme__plain {
          
    .details__link::after {
      background-color: $plain__bg--light;
    }
  }
}

@include breakpoint(mini-tab-min) {
  .profile__section--contact {
    .contact__content {
      .contact__details {
        max-width: 240px;
      }
    }
  }
}