<div class="profile__section profile__section--contact theme__{{themeName}}">
  <div class="inner-section contact__list">
    <div class="contact__items">
      <div *ngFor="let contact of contacts" class="sub-section experience__item">
        <div class="contact__content-wrapper">
          <h3 class="contact__title">{{contact.type}}</h3>
          <div class="contact__content">
            <div class="list-section contact__details contact__{{detail.class}}" *ngFor="let detail of contact.details">
              <div class="details__wrapper text--dark bg--light">
                <div class="detials__top">
                  <h4 class="details__title">{{detail.name}}</h4>
                  <img src="{{detail.src}}">
                </div>
                <div class="details__content">
                  <div class="details__action"><a href="{{detail.href}}" title="{{detail.name}} link" class="ext__link details__link bg--dark text--light">{{detail.value}}</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
