<nav class="nav nav__profile theme__{{themeName}}">
  <div class="nav__info">
    <div class="info__image">
      <div class="image__profile"></div>
    </div>
    <div class="info__content">
      <h4 class="info__name">{{profileName}}</h4>
      <h6 class="info__title">{{profileTitle}}</h6>
    </div>
  </div>
  <ul class="nav__items">
    <li class="nav__item nav__item--{{nav.name | lowercase}}" *ngFor="let nav of navs">
      <a class="nav__link" routerLink="{{nav.route}}">{{ nav.name }}</a>
    </li>
  </ul>
</nav>