@import "../variables.scss";

.nav__profile {
  // themes
  &.theme__midnight {
    background-color: rgba($midnight__bg--light, 0.5);
    color: $midnight__text--dark;
    .nav__link {
      color: $midnight__text--dark;

      &:hover,
      &:focus,
      &:active {
        background-color: $midnight__light--second;
      }
    }
  }
  &.theme__sunset {
    background-color: $sunset__bg--light;
    color: $sunset__text--dark;
    .nav__link {
      color: $sunset__text--dark;

      &:hover,
      &:focus,
      &:active {
        background-color: $sunset__light--first;
      }
    }
  }
  &.theme__chic {
    background-color: $chic__bg--light;
    color: $chic__text--dark;
    .nav__link {
      color: $chic__text--dark;

      &:hover,
      &:focus,
      &:active {
        background-color: $chic__light--first;
      }
    }
  }
  &.theme__forest {
    background-color: $forest__dark--second;
    color: $forest__text--light;
    .nav__link {
      color: $forest__text--light;

      &:hover,
      &:focus,
      &:active {
        background-color: $forest__light--third;
      }
    }
  }
  &.theme__plain {
    background-color: $plain__bg--dark;
    color: $plain__text--light;
    .nav__link {
      color: $plain__text--light;

      &:hover,
      &:focus,
      &:active {
        background-color: $plain__dark--third;
      }
    }
  }

  width: 100%;
  background-color: $grey-light;
  display: flex;
  flex-flow: row wrap;

  .nav__info {
    flex: 2 1;
    min-width: 275px;
    display: flex;
    flex-flow: row;

    .info__image {
      width: 95px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 0;

      .image__profile {
        padding: 2rem;
        background-image: url('/assets/img/josh/josh-profile.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border: solid 2px;
        border-radius: 50%;
      }
    }

    .info__content {
      flex: 1;
      display: flex;
      flex-flow: column;
      justify-content: center;

      .info__title {
        margin-bottom: 0;
      }
    }
  }

  .nav__items {
    flex: 1 0 360px;
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;

    .nav__item {
      flex: 1 1 25%;
      text-align: center;

      .nav__link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 1rem;
        text-decoration: none;
        font-size: $font-size__large;


        &:hover,
        &:focus,
        &:active {
          outline: none;
        }
      }
    }
  }
}

@include breakpoint(mob-plus-min) {
  .nav__profile {
    .nav__items {
      .nav__item {
        flex: 0 1 90px;
      }
    }
  }
}