<div (themeChange)="receiveTheme($event)" class="section section__skills theme__{{themeName}}">
  <h3 class="section-heading">Skills</h3>
  <div class="skills__summary">
    <div class="skills__images">
      <div class="skills__image" *ngFor="let image of areas"><img class="image__skill" src="/assets/img/icons/skills/{{image.class}}.png"><p class="image__text">{{image.name}}</p></div>
    </div>
  </div>
  <div class="inner-section skills__areas">
    <h3 class="section-heading">Area</h3>
    <div class="areas__items">
      <div *ngFor="let skill of skills" class="areas__item">
        <button name="{{skill.class}} skill select" role="button" class="btn--skills" (click)="skillClick(skill)"><span class="btn--skills-text btn-text--{{skill.class}}">{{skill.area}}</span></button>
      </div>
      <div class="areas__item">
        <button name="reset skills area" role="button" class="btn--skills" (click)="skillReset(skillClass)"><span class="btn--skills-text">Reset</span></button>
      </div>
    </div>
  </div>
  <div class="inner-section skills__list">
    <div class="skills__items">
      <div *ngFor="let skill of skills" class="skills__item skills__item--{{skill.class}} {{skillClass}}">
        <div class="skills__content-wrapper">
          <h6 class="skills__title">{{skill.area}}</h6>
          <div class="skills__content">
            <div class="skills__value confidence__{{item.confidence}} experience__{{item.experience | lowercase}}" *ngFor="let item of skill.items">
              <span class="skills__value--text">{{item.name}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>