@import '../variables.scss';

//categories
.section__skills {

  .skills__areas {
    .areas__items {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;

      .areas__item {
        min-width: 115px;
        width: calc(100% / 8);

        .btn--skills {
          display: block;
          width: calc(100% - 1rem);
          margin: 0.5rem;
          padding: 0.5rem 0;
          border-radius: 5px;
          font-size: $font-size__main;
          overflow: hidden;

          .btn--skills-text {
            display: block;
            position: relative;

            &::after {
              content: '';
              height: 300%;
              width: 25%;
              position: absolute;
              top: -100%;
              left: -50%;
              opacity: 0.3;
              transform: skew(41deg);
            }
          }

          &:hover {
            .btn--skills-text {
              text-decoration: none;
              
              &::after {
                left: 150%;
                transition: left 0.8s;
              }
            }
          }
        }
      }
    }
  }

  .skills__summary {
    margin: 0 -1rem;
    padding: 1rem;

    .skills__images {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;

      .skills__image {
        display: flex;
        align-items: center;
        flex: 1 0 75px;
        position: relative;
        margin-bottom: 5px;

        &:hover {
          .image__skill {
            opacity: 0.5;
            transition: opacity 0.8s;
          }
          .image__text {
            opacity: 1;
            transition: opacity 0.8s;
          }
        }

        .image__skill {
          height: auto;
          max-height: 50px;
          width: auto;
          max-width: 46px;
          margin: 0 auto;
          opacity: 1;
          transition: opacity 0.8s;

        }

        .image__text {
          font-weight: bold;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 0;
          opacity: 0;
          transition: opacity 0.8s;
        }
      }
    }
  }

  .skills__list {
    .skills__items {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;

      .skills__item {
        display: none;
        flex: 1;

        &.skills__item--html.html,
        &.skills__item--css.css,
        &.skills__item--javascript.javascript,
        &.skills__item--cms.cms,
        &.skills__item--server.server,
        &.skills__item--accessibility.accessibility,
        &.skills__item--other.other {
          display: flex;
        }

        .skills__content-wrapper {
          margin: 0.5rem;
          width: 100%;

          .skills__title {
            padding: 1rem 0.5rem 0.5rem;
          }

          .skills__content {
            padding: 0.5rem;
            display: flex;
            flex-flow: row wrap;

            .skills__value {
              flex: 1 0 100px;
              transform: skew(30deg);

              .skills__value--text {
                display: block;
                width: 100px;
                transform: skew(-30deg);
                margin: 0.5rem auto;
                text-align: center;
              }
            }

            > div:last-of-type {
              border: 0;
            }
          }
        }
      }
    }
  }
}

//themes__colours
.section__skills {

  &.theme__midnight {
    background: transparent;
    
    .skills__areas {
      .areas__item {
        .btn--skills {
          background-color: $midnight__bg--light;
          color: $midnight__text--dark;
          
          .btn--skills-text::after {
            background-color: $midnight__bg--dark;
          }
        }
      }
    }
    .skills__summary {
      background-color: rgba($midnight__bg--light, 0.5);

      .skills__images {
        color: $midnight__text--dark;

        .skills__image {

          &:hover {
            .image__skill {
              opacity: 0.25;
            }
          }
        }
      }
    }
    .skills__list {
      .skills__title {
        background-image: linear-gradient(to top right, $midnight__mid--first, transparent, transparent);
      }
      .skills__value {
        border-right: solid 3px $midnight__mid--first;
      }
    }
  }
  &.theme__sunset {
    .skills__areas {
      .areas__item {
        .btn--skills {
          background-color: $sunset__bg--dark;
          color: $sunset__text--light;
          
          .btn--skills-text::after {
            background-color: $sunset__bg--light;
          }
        }
      }
    }
    .skills__summary {
      background-color: $sunset__bg--light;

      .skills__images {
        color: $sunset__text--dark;

        .skills__image {
          .image__text {
            background-color: rgba($sunset__bg--light, 0.85);
          }
        }
      }
    }
    .skills__list {
      .skills__title {
        background-image: linear-gradient(to top right, $sunset__mid--second, transparent, transparent);
      }
      .skills__value {
        border-right: solid 3px $sunset__mid--second;
      }
    }
  }
  &.theme__chic {
    .skills__areas {
      .areas__item {
        .btn--skills {
          background-color: $chic__bg--dark;
          color: $chic__text--light;
          
          .btn--skills-text::after {
            background-color: $chic__bg--light;
          }
        }
      }
    }
    .skills__summary {
      background-color: $chic__bg--light;

      .skills__images {
        color: $chic__text--dark;

        .skills__image {
          .image__text {
            background-color: rgba($chic__bg--light, 0.85);
          }
        }
      }
    }
    .skills__list {
      .skills__title {
        background-image: linear-gradient(to top right, $chic__dark--forth, transparent, transparent);
      }
      .skills__value {
        border-right: solid 3px $chic__dark--forth;
      }
    }
  }
  &.theme__forest {
    .skills__areas {
      .areas__item {
        .btn--skills {
          background-color: $forest__bg--dark;
          color: $forest__text--light;
          
          .btn--skills-text::after {
            background-color: $forest__bg--light;
          }
        }
      }
    }
    .skills__summary {
      background-color: $forest__bg--light;

      .skills__images {
        color: $forest__text--dark;

        .skills__image {
          .image__text {
            background-color: rgba($forest__bg--light, 0.85);
          }
        }
      }
    }
    .skills__list {
      .skills__title {
        background-image: linear-gradient(to top right, $forest__dark--second, transparent, transparent);
      }
      .skills__value {
        border-right: solid 3px $forest__dark--second;
      }
    }
  }
  &.theme__plain {
    .skills__areas {
      .areas__item {
        .btn--skills {
          background-color: $plain__bg--dark;
          color: $plain__text--light;
          
          .btn--skills-text::after {
            background-color: $plain__bg--light;
          }
        }
      }
    }
    .skills__summary {
      background-color: $plain__bg--light;

      .skills__images {
        color: $plain__text--dark;

        .skills__image {
          .image__text {
            background-color: rgba($plain__bg--light, 0.85);
          }
        }
      }
    }
    .skills__list {
      .skills__title {
        background-image: linear-gradient(to top right, $plain__mid--first, transparent, transparent);
      }
      .skills__value {
        border-right: solid 3px $plain__mid--first;
      }
    }
  }
}
