<!--The content below is only a placeholder and can be replaced.-->
<div class="josh__profile  theme__{{themeName}}">
  <div class="leaves leaves__{{themeName}}">
    <span class="leaf leaf__1"></span>
    <span class="leaf leaf__2"></span>
    <span class="leaf leaf__3"></span>
    <span class="leaf leaf__4"></span>
    <span class="leaf leaf__5"></span>
    <span class="leaf leaf__6"></span>
    <span class="leaf leaf__7"></span>
    <span class="leaf leaf__8"></span>
    <span class="leaf leaf__9"></span>
    <span class="leaf leaf__10"></span>
    <span class="leaf leaf__11"></span>
    <span class="leaf leaf__12"></span>
    <span class="leaf leaf__13"></span>
    <span class="leaf leaf__14"></span>
    <span class="leaf leaf__15"></span>
  </div>
  <span id="stars" class="stars stars__{{themeName}}"></span>
  <span id="stars2" class="stars stars__{{themeName}}"></span>
  <span id="stars3" class="stars stars__{{themeName}}"></span>
  <div class="profile__page">
    <app-themes></app-themes>
    <app-nav></app-nav>
    <div class="profile__content">
      <router-outlet></router-outlet>
    </div>
    <div class="profile__footer">
      <div class="footer__content bg--light">
        <div class="footer__link footer__github"><a href="https://www.github.com/jjthompson07" class="link__item github__link" title="Github"></a></div>
        <div class="footer__link footer__gitlab"><a href="https://gitlab.com/JJThompson07/" class="link__item gitlab__link" title="GitLab"></a></div>
        <div class="footer__link footer__linkedin"><a href="https://www.linkedin.com/in/jjthompson07/" class="link__item linkedin__link" title="LinkedIn"></a></div>
      </div>
    </div>
  </div>
</div>