@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import './variables.scss';

.josh__profile {
  overflow: hidden;
}

.profile__page {
  min-height: 100vh;
  padding-bottom: 5rem;
  position: relative;
}

.profile__content {
  padding: 0 1rem;
  position: relative;
  z-index: 1;
}

.profile__footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  .footer__content {
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: center;

    .footer__link {
      display: block;
      padding: 0.5rem 1rem;

      .link__item {
        display: block;
        padding: 1rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    .github__link {
      background-image: url('/assets/img/icons/social/github--icon.png');
    }
    .gitlab__link {
      background-image: url('/assets/img/icons/social/gitlab--icon.png');
    }
    .linkedin__link {
      background-image: url('/assets/img/icons/social/linkedin--icon.png');
    }
  }
}

// stars
.stars {
  display: none;
  z-index: 0;
  position: absolute;

  &::after {
    content: " ";
    position: absolute;
    top: 100%;
    background: transparent;
  }

  &.stars__midnight {
    display: block;
  }
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 100s linear infinite;
  color: $white;

  &:after {
    width: 1px;
    height: 1px;
    box-shadow: $shadows-small;
  }
}
    
#stars2 {
  width: 2px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 150s linear infinite;
  color: $midnight__light--third;
    
  &:after {
    width: 2px;
    height: 1px;
    box-shadow: $shadows-medium;
  }
}
    
#stars3 {
  width: 3px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 200s linear infinite;
  color: $midnight__light--first;
    
  &:after {
    width: 3px;
    height: 2px;
    box-shadow: $shadows-big;
  }
}


//Leaves
.leaves {
  display: none;
  z-index: 0;

  &.leaves__forest {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}

.leaf {
  top: 0;
  opacity: 0;
}

.leaf,
.leaf::before,
.leaf::after {
  position: absolute;
  display: block;
  background: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

//leaf position
.leaf__1,
.leaf__8,
.leaf__12 {
  left: 10%;
}
.leaf__10,
.leaf__14,
.leaf__6 {
  left: 30%;
}
.leaf__7,
.leaf__2,
.leaf__9 {
  left: 50%;
}
.leaf__4,
.leaf__11,
.leaf__3 {
  left: 70%;
}
.leaf__13,
.leaf__5,
.leaf__15 {
  left: 88%;
}

//leaf colour
.leaf__1,
.leaf__2,
.leaf__3,
.leaf__4,
.leaf__5 {
  background-image: url('/assets/img/icons/leaf--green.png');
}
.leaf__6,
.leaf__7,
.leaf__8,
.leaf__9,
.leaf__10 {
  background-image: url('/assets/img/icons/leaf--brown.png');
}
.leaf__11,
.leaf__12,
.leaf__13,
.leaf__14,
.leaf__15 {
  background-image: url('/assets/img/icons/leaf--gold.png');
}

.leaves span:nth-child(3n+1) {
  width: 4vw;
  height: 4vw;
  max-width: 25px;
  max-height: 25px;
}
    
.leaves span:nth-child(3n+2) {
  width: 6vw;
  height: 6vw;
  max-width: 50px;
  max-height: 50px;
}

.leaves span:nth-child(3n+0) {

  width: 8vw;
  height: 8vw;
  max-width: 75px;
  max-height: 75px;
}

// leaf-animation
.leaf__1,
.leaf__3,
.leaf__6,
.leaf__7,
.leaf__13 {
  animation: leafFallThree 15s ease-in-out infinite;
  animation-delay: 9s;
}

.leaf__4,
.leaf__8,
.leaf__9,
.leaf__14,
.leaf__15 {
  animation: leafFallOne 15s ease-in-out infinite;
}

.leaf__2,
.leaf__5,
.leaf__10,
.leaf__11,
.leaf__12 {
  animation: leafFallTwo 15s ease-in-out infinite;
  animation-delay: 4s;
}

// leaf-dealy
.leaf__1 {
  animation-delay: 0s;
}
.leaf__2 {
  animation-delay: 12s;
}
.leaf__3 {
  animation-delay: 14s;
}
.leaf__4 {
  animation-delay: 5s;
}
.leaf__5 {
  animation-delay: 8s;
}
.leaf__6 {
  animation-delay: 9s;
}
.leaf__7 {
  animation-delay: 7s;
}
.leaf__8 {
  animation-delay: 11s;
}
.leaf__9 {
  animation-delay: 2s;
}
.leaf__10 {
  animation-delay: 4s;
}
.leaf__11 {
  animation-delay: 10s;
}
.leaf__12 {
  animation-delay: 6s;
}
.leaf__13 {
  animation-delay: 3s;
}
.leaf__14 {
  animation-delay: 15s;
}
.leaf__15 {
  animation-delay: 13s;
}

@include breakpoint(mini-tab-min) {
  .leaves span:nth-child(3n+1) {
    width: 2vw;
    height: 2vw;
  }
      
  .leaves span:nth-child(3n+2) {
    width: 4vw;
    height: 4vw;
  }

  .leaves span:nth-child(3n+0) {
    width: 6vw;
    height: 6vw;
  }
}

