// Site Breakpoints (Mobile First)
$breakpoints: (
    'tiny':          ( max-width: 379px ),
    'mob-min':       ( min-width: 380px ),
    'mob-max':       ( max-width: 413px ),
    'mob-plus-min':  ( min-width: 414px ),
    'mob-plus-only': ( min-width: 414px ) and ( max-width: 599px ),
    'mob-plus-max':  ( max-width: 599px ),
    'mini-tab-min':  ( min-width: 600px ),
    'mini-tab-only': ( min-width: 600px ) and ( max-width: 767px ) ,
    'mini-tab-max':  ( max-width: 767px ),
    'tab-min':       ( min-width: 768px ),
    'tab-only':      ( min-width: 768px ) and ( max-width: 1023px ),
    'tab-max':       ( max-width: 1023px ),
    'med-min':       ( min-width: 1024px ),
    'med-only':      ( min-width: 1024px ) and ( max-width: 1199px ),
    'med-max':       ( max-width: 1199px ),
    'large':         ( min-width: 1200px )
);

// Creating the mixin
@mixin breakpoint($name) {
  @if map-has-key($breakpoints, $name) {
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  } @else {
    @warn "Couldn't find a your breakpoint named `#{$name}`.";
  }
}