// colours

// global
$white:                  #ffffff;
$black:                  #000000;
$grey-dark:              #050517;
$grey:                   #77777e;
$grey-mist:              #ced3dc;
$grey-light:             #e6e6e9;
$grey-snow:              #fcf7f8;

// dark theme
$midnight__dark--first:    #091126;
$midnight__dark--second:   #031a6b;
$midnight__dark--third:    #033860;
$midnight__mid--first:     #3d52d5;
$midnight__mid--second:    #5da9e9;
$midnight__mid--third:     #73c1c6;
$midnight__light--first:   #e9e3b4;
$midnight__light--second:  #e5fcf5; 
$midnight__light--third:   #fcf7f8;
$midnight__bg--dark:       $midnight__dark--first;
$midnight__bg--light:      $midnight__light--third;
$midnight__bg--main:       $midnight__dark--first;
$midnight__text--dark:     $midnight__dark--first;
$midnight__text--light:    $midnight__light--first;
$midnight__text--main:     $midnight__light--first;

// sunset theme
$sunset__dark--first:      #4c061d;
$sunset__dark--second:     #98473e; 
$sunset__dark--third:      #e2071e; 
$sunset__dark--forth:      #e84855;
$sunset__mid--first:       #a3320b;
$sunset__mid--second:      #cf5c36;
$sunset__mid--third:       #f18f01;
$sunset__mid--forth:       #f3c178;
$sunset__light--first:     #f79824;
$sunset__light--second:    #fbb13c; 
$sunset__light--third:     #fdca40;
$sunset__light--forth:     #f4f482;
$sunset__bg--dark:         $sunset__mid--second;
$sunset__bg--light:        $sunset__light--third;
$sunset__bg--main:         $sunset__dark--second;
$sunset__text--dark:       $sunset__dark--first;
$sunset__text--light:      $sunset__light--forth;
$sunset__text--main:       $sunset__light--forth;

// chic theme
$chic__dark--first:        #363537;
$chic__dark--second:       #66666e;
$chic__dark--third:        #ab9f9d;
$chic__dark--forth:        #e6e6e9;
$chic__light--first:       #f79824;
$chic__light--second:      #ffdb58;
$chic__light--third:       #fff07c;
$chic__light--forth:       #f4f482;
$chic__bg--dark:           $chic__dark--first;
$chic__bg--light:          $chic__light--second;
$chic__bg--main:           $chic__dark--first;
$chic__text--dark:         $chic__dark--first;
$chic__text--light:        $chic__light--second;
$chic__text--main:         $chic__light--second;


// forest theme
$forest__dark--first:      #181f1c;
$forest__dark--second:     #274029;
$forest__dark--third:      #315c2b;
$forest__dark--forth:      #60992d;
$forest__dark--fifth:      #beedaa;
$forest__light--first:     #322a26;
$forest__light--second:    #563635;
$forest__light--third:     #645244;
$forest__light--forth:     #d8bfaa;
$forest__bg--dark:         $forest__dark--second;
$forest__bg--light:        $forest__light--forth;
$forest__bg--main:         $forest__light--first;
$forest__text--dark:       $forest__dark--first;
$forest__text--light:      $forest__light--forth;
$forest__text--main:       $forest__light--forth;

// plain theme
$plain__dark--first:       $grey-dark;
$plain__dark--second:      #363537;
$plain__dark--third:       $grey;
$plain__mid--first:        #b3679b;
$plain__mid--second:       #b38cb4;
$plain__mid--third:        #dcabdf;
$plain__light--first:      $grey-mist;
$plain__light--second:     $grey-light;
$plain__light--third:      $grey-snow;
$plain__light--forth:      $white;
$plain__bg--dark:          $plain__dark--second;
$plain__bg--light:         $plain__light--third;
$plain__bg--main:          $plain__light--second;
$plain__text--dark:        $plain__dark--first;
$plain__text--light:       $plain__light--forth;
$plain__text--main:        $plain__dark--first;
