@import "./colours.scss";
@import "./animate.scss";


// themes
.theme__midnight {
  color: $midnight__text--light;

  &.josh__profile {
    background-color: $midnight__bg--main;
  }
  button,
  a {
    color: $midnight__text--light;
  }

  .text--dark,
  .text--dark a {
    color: $midnight__text--dark;
  }
  .text--light,
  .text--light a {
    color: $midnight__text--light;
  }
  .text--alt,
  .text--alt a {
    color: $midnight__mid--first;
  }
  .bg--light {
    background-color: rgba($midnight__bg--light, 0.5);
  }
  .bg--dark {
    background-color: $midnight__bg--dark;
  }
  .bg--alt {
    background-image: linear-gradient(to top right, $midnight__mid--first, transparent, transparent);
  }
}
.theme__sunset {
  color: $sunset__text--main;

  &.josh__profile {
    background: $sunset__bg--main;
  }
  
  &.josh__profile::before {
    content: '';
    width: 100%;
    height: 100vw;
    min-height: 100vh;
    position: fixed;
    background-image: radial-gradient(40vw circle at 50% 50%, $sunset__bg--light, transparent);
    background-repeat: no-repeat;
    animation: sunpulse 25s ease forwards;
    z-index: 0;
  }
  button,
  a {
    color: $sunset__text--dark;
  }

  .text--dark,
  .text--dark a {
    color: $sunset__text--dark;
  }
  .text--light,
  .text--light a {
    color: $sunset__text--light;
  }
  .text--alt,
  .text--alt a {
    color: $sunset__mid--second;
  }
  .bg--light {
    background-color: $sunset__bg--light;
  }
  .bg--dark {
    background-color: $sunset__bg--dark;
  }
  .bg--alt {
    background-image: linear-gradient(to top right, $sunset__mid--second, transparent, transparent);
  }
}
.theme__chic {
  background-color: $chic__bg--main;
  color: $chic__text--main;
  
  button,
  a {
    color: $chic__text--dark;
  }

  .text--dark,
  .text--dark a {
    color: $chic__text--dark;
  }
  .text--light,
  .text--light a {
    color: $chic__text--light;
  }
  .text--alt,
  .text--alt a {
    color: $chic__dark--first;
  }
  .bg--light {
    background-color: $chic__bg--light;
  }
  .bg--dark {
    background-color: $chic__bg--dark;
  }
  .bg--alt {
    background-image: linear-gradient(to top right, $chic__dark--forth, transparent, transparent);
  }
}
.theme__forest {
  color: $forest__text--main;

  &.josh__profile {
    background-color: $forest__bg--main;
  }
  
  button,
  a {
    color: $forest__text--dark;
  }

  .text--dark,
  .text--dark a {
    color: $forest__text--dark;
  }
  .text--light,
  .text--light a {
    color: $forest__text--light;
  }
  .text--alt,
  .text--alt a {
    color: $forest__dark--second;
  }
  .bg--light {
    background-color: $forest__bg--light;
  }
  .bg--dark {
    background-color: $forest__bg--dark;
  }
  .bg--alt {
    background-image: linear-gradient(to top right, $forest__dark--second, transparent, transparent);
  }
}
.theme__plain {
  background-color: $plain__bg--main;
  color: $plain__text--main;
  
  button,
  a {
    color: $plain__text--light;
  }

  .text--dark,
  .text--dark a {
    color: $plain__text--dark;
  }
  .text--light,
  .text--light a {
    color: $plain__text--light;
  }
  .text--alt,
  .text--alt a {
    color: $plain__mid--first;
  }
  .bg--light {
    background-color: $plain__bg--light;
  }
  .bg--dark {
    background-color: $plain__bg--dark;
  }
  .bg--alt {
    background-image: linear-gradient(to top right, $plain__mid--first, transparent, transparent);
  }
}
