@import "./colours.scss";
@import "./breakpoints.scss";
// themes

$font-size__heading: 30px;
$font-size__subheading: 20px;
$font-size__section-heading: 18px;
$font-size__large: 16px;
$font-size__main: 14px; 
$font-size__small: 10px;

$heading__margin: 2rem 0 1.2rem;
$subheading__margin: 1.5rem 0 1rem;
$section-heading__margin: 1rem 0 0.5rem;

.josh__profile {
  font-size: $font-size__main;
}

.section,
.profile__section {
  padding: 2rem 0 2rem;
}

.sub-section {
  padding: 1rem 0 1rem;
}

.list-section,
.inner-section {
  padding: 0.5rem 0 1rem;
}

@include breakpoint(tab-min) {
  .section,
  .profile__section {
    padding: 2rem 0 4rem;
  }

  .sub-section {
    padding: 1rem 0 2rem;
  }

  .list-section,
  .inner-section {
    padding: 0.5rem 0 1rem;
  }
}