<div class=" section profile__section profile__section--home theme__{{themeName}}">
  <h1 class="section__title">Welcome</h1>
  <div class="section profile__info">
    <div class="profile__image">
      <div class="image__profile"></div>
    </div>
    <div class="profile__content">
      <h2 class="profile__name">{{profileName}}</h2>
      <h4 class="profile__title">{{profileTitle}}</h4>
      <h6 class="profile__title">{{profileDOB}}</h6>
    </div>
  </div>

  <div class="section home__themes">
    <h2 class="home__themes__title">Select a theme</h2>
    <nav class="nav nav__themes">
      <ul class="themes__items">
        <li class="themes__item themes__item--{{theme.class}}" *ngFor="let theme of themes">
          <button name="home change theme {{theme.class}}" class="themes__link themes__link--{{theme.class}}" role="button" (click)="themeClick(theme)">{{ theme.name }}</button>
        </li>
      </ul>
    </nav>
  </div>
</div>