@import "../variables.scss";

.profile__section--home {
  text-align: center;

  &.theme__midnight {
    position: relative;
    z-index: 1;
    background-color: transparent;
  }

  &.theme__midnight .home__themes .nav__themes .themes__items .themes__item .themes__link--midnight {
    background-color: $midnight__bg--light;
    color: $midnight__text--dark;

    &::before,
    &::after {
      background-color: $midnight__text--dark;
    }
  }
  &.theme__sunset .home__themes .nav__themes .themes__items .themes__item .themes__link--sunset {
    background-color: $sunset__bg--light;
    color: $sunset__text--dark;

    &::before,
    &::after {
      background-color: $sunset__text--dark;
    }
  }
  &.theme__chic .home__themes .nav__themes .themes__items .themes__item .themes__link--chic {
    background-color: $chic__bg--light;
    color: $chic__text--dark;

    &::before,
    &::after {
      background-color: $chic__text--dark;
    }
  }
  &.theme__forest .home__themes .nav__themes .themes__items .themes__item .themes__link--forest {
    background-color: $forest__bg--light;
    color: $forest__text--dark;

    &::before,
    &::after {
      background-color: $forest__text--dark;
    }
  }
  &.theme__plain .home__themes .nav__themes .themes__items .themes__item .themes__link--plain {
    background-color: $plain__bg--light;
    color: $plain__text--dark;

    &::before,
    &::after {
      background-color: $plain__text--dark;
    }
  }

  .profile__info {
    display: flex;
    flex-flow: column;

    .profile__image,
    .profile__content {
      flex: 1;
      display: flex;
      padding: 0.5rem 1rem;
    }

    .profile__image {
      justify-content: center;

      .image__profile {
        padding: 8rem;
        background-image: url('/assets/img/josh/josh-profile.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border: solid 2px;
        border-radius: 50%;
      }
    }

    .profile__content {
      flex-flow: column;
      justify-content: center;
      align-items: center;
    }
  }

  .home__themes {
    margin: 0 -1rem;

    .nav__themes {
      width: 100%;
      padding: 2.5rem 1rem;

      .themes__items {
        width: 100%;
        list-style: none;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;

        .themes__item {
          text-align: center;

          .themes__link {
            margin: 0.5rem 1rem;
            font-weight: bold;
            display: block;
            padding: 1rem;
            text-decoration: none;
            color: $grey-dark;
            position: relative;
            overflow: hidden;
            transition: background-color 0.8s, color 0.8s;
            box-shadow: 2px 2px 2px rgba($grey-dark, 0.5);
            border: none;
            width: calc(100% - 2rem);


            &::before,
            &::after {
              content: '';
              height: 100%;
              padding-right: 1rem;
              position: absolute;
              right: 25px;
              top: 0;
              transform: skew(30deg);
              transition: background-color 0.8s;
            }

            &:after {
              right: 0;
            }

            &:hover,
            &:focus,
            &:active {
              outline: none;
              transition: background-color 0.8s, color 0.8s;

              &::before,
              &::after {
                transition: background-color 0.8s;
              }
            }
          }

          .themes__link--midnight {
            background-color: $midnight__bg--dark;
            color: $midnight__text--light;

            &::before,
            &::after {
              background-color: $midnight__text--light;;
            }

            &:hover,
            &:focus,
            &:active {
              background-color: $midnight__bg--light;
              color: $midnight__text--dark;

              &::before,
              &::after {
                background-color: $midnight__text--dark;
              }
            }
          }

          .themes__link--sunset {
            background-color: $sunset__bg--dark;
            color: $sunset__text--light;

            &::before,
            &::after {
              background-color: $sunset__text--light;;
            }

            &:hover,
            &:focus,
            &:active {
              background-color: $sunset__bg--light;
              color: $sunset__text--dark;

              &::before,
              &::after {
                background-color: $sunset__text--dark;
              }
            }
          }

          .themes__link--chic {
            background-color: $chic__bg--dark;
            color: $chic__text--light;

            &::before,
            &::after {
              background-color: $chic__text--light;;
            }

            &:hover,
            &:focus,
            &:active {
              background-color: $chic__bg--light;
              color: $chic__text--dark;

              &::before,
              &::after {
                background-color: $chic__text--dark;
              }
            }
          }

          .themes__link--forest {
            background-color: $forest__bg--dark;
            color: $forest__text--light;

            &::before,
            &::after {
              background-color: $forest__text--light;;
            }

            &:hover,
            &:focus,
            &:active {
              background-color: $forest__bg--light;
              color: $forest__text--dark;

              &::before,
              &::after {
                background-color: $forest__text--dark;
              }
            }
          }

          .themes__link--plain {
            background-color: $plain__bg--dark;
            color: $plain__text--light;

            &::before,
            &::after {
              background-color: $plain__text--light;;
            }

            &:hover,
            &:focus,
            &:active {
              background-color: $plain__bg--light;
              color: $plain__text--dark;

              &::before,
              &::after {
                background-color: $plain__text--dark;
              }
            }
          }
        }
      }
    }
  }
}

@include breakpoint(mob-plus-min) {
  .profile__section--home {
    .home__themes {
      .nav__themes {
        .themes__items {
          flex-flow: row wrap;

          .themes__item {
            text-align: left;
            flex: 1;
            min-width: 160px;

            .themes__link {
              margin: 0.5rem;
              width: calc(100% - 1rem);
            }
          }
        }
      }
    }
  }
}

@include breakpoint(mini-tab-min) {
  .profile__section--home {
    .profile__info {
      flex-flow: row;

      .profile__image {
        justify-content: flex-end;
      }
      .profile__content {
        align-items: flex-start;
      }
    }
  }
}